.abc{
    background-color: lightseagreen;
    transition:  background 1.5s ease, transform 0.80s;
    color:rgba(234, 234, 239, 0.891);
    border-radius: 20px;
    margin: 30px;
    padding: 20px;
    font-size: large;
    

}
.abc:hover{
    background-color: red;
    transform: scale(1.1);
}
@keyframes slidein {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}
.xyz{
    animation: slidein 2s infinite;
    font-size: larger;
}
@keyframes zoomin{
    from{
        transform: scale(0.5);
        to{transform: scale(2);}
    }
}
.zoom{
    animation: zoomin 1s ease-in-out;
    border: 1px double lightseagreen;
    background-color: rgb(83, 60, 26);
    color: antiquewhite;
    border-radius: 30px;
}
@keyframes bounce{
    0%,100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
}
.bounce{
    animation:bounce 1s infinite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: larger;
background-color: bisque;
border: 2px dotted burlywood;


}
@keyframes pulse{
    0%{
        transform:scale(1)
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
.b{
    animation: pulse 1.5s infinite;
    text-align: center;
    border: 3px double blue;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightblue;
    border-radius: 30px;
    color: rgb(19, 23, 25);
}
@keyframes rotate{
    from{
        transform:rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.e{
    animation:rotate 0.01s linear infinite;
    text-align: center;
    border: 2px dashed lightsalmon;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: blanchedalmond;
    border-radius: 50px;
    color: blueviolet;
    margin: 50px;
}

@keyframes wobble{
    0%{
        transform: translate(0);
    }
    25%{
        transform:translate(-10px) ;
    }
    50%{
        transform: translate(10px)
    }
    75%{
        transform: translate(-5px);
    }
    100%{
        transform: translate(0);
    }
}
.h{
    animation: wobble 1s ease-in-out infinite;
    text-align: center;
    color: brown;
    border: 3px double plum;
    border-radius: 30px 40px;
    box-sizing: content-box;
    padding: 0px;
    margin: 10px;
    display: inline-block;
    background: ;
}